<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" data-ng-app="personalApp">
<head th:replace="/fragments/header::header"/>
<body>

<div class="container" ng-controller="MainController as main"
     data-th-attr="data-ng-init='main.init(\''+ ${@environment.getProperty('app.baseurl')} +'\');'">
    <div class="col-md-12">
        <img class="img-circle" alt="user image" src="images/user.jpg"/>
        <div class="tech-info pull-right">
            Built using : Angular JS
        </div>
    </div>
    <div class="col-md-12">
        <div class="horizontal-menu">
            <ul>
                <li th:each="page:${pages}">
                    <a th:href="'#'+${page.title.toLowerCase()}" th:text="${page.title}"
                       th:attr="data-ng-click='main.loadPage(\''+${page.id}+'\');'"></a>
                </li>
                <!--<li><a href='#/blog' ng-click="main.setTab(4)">Blog</a></li>-->
                <!--<li><a href='#/portfolio' ng-click="main.setTab(3)">Portfolio</a></li>-->
                <!--<li><a href='#/about' ng-click="main.setTab(2)">About</a></li>-->
                <!--<li><a href='#/home' ng-click="main.setTab(1)">Home</a></li>-->
            </ul>
        </div>
    </div>

    <div class="content col-md-12">
        {{main.page.body}}
    </div>
    <div class="footer col-md-4 col-md-offset-4">
        Created by Bijay Khatri. &copy; 2016
    </div>
</div>
<section th:replace="/fragments/footer::footer"/>
</body>
</html>